body { /* code for the main area of content */
    /* add font-family, color, background color and background image */
    margin: 0;
    background-size: 65px;      
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 900px; /* this is the width of your layout! You should not change this without adjusting code at the bottom*/
    margin: 0 auto; /* this centers the entire page */
}

#container a { /* code for links*/
    /*add a color and font-weight property here*/
}

#header { 
    /* add a background color and background image to this property, you may change the height if you want */
    width: 100%;
    height: 150px;
    background-size: 100%;
}

#navbar {
    /* add a background-color property, change the height if you want */
    height: 40px;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    /* add a color property, you may adjust font-weight if you like */  
    font-weight: 800;
    text-decoration: none;
}

#navbar li a:hover { 
    /* add a color property  */
    text-decoration: underline;
}

#flex {
    display: flex;
}

aside { /*sidebar*/
    /* add a background-color, remove the font-size property if you want */
    width: 200px;
    padding: 20px;
    font-size: smaller;
}


main { /* main area, or body, of the webpage*/
    /* add a background-color */
    flex: 1;
    padding: 20px;
    order: 2;
}

footer {
    /* add a background-color, adjust the text-alignment if you like */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
}

/*put your heading styles here*/









/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}